services:
  mysql:
    image: mysql
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-teachmon}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-teachmon}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  redis:
    image: redis
    container_name: redis-container
    command: redis-server --requirepass ${REDIS_PASSWORD:-teachmon}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
volumes:
  mysql-data:
  redis-data: